<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/experience.css">
    <link rel="stylesheet" href="/stylesheets/education.css">
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <link rel="stylesheet" href="/stylesheets/skills.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Japman Nagra</title>
    <link rel="shortcut icon" href="./assets/tab_logo.ico">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JN</a>
            <button class="navbar-toggler" type="buttonta-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link mr-4" href="#education">Education</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mx-4" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mx-4" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mx-4" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link ml-4" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>