<%- include('partials/header') %>

<!-- ===================== -->
<!-- HEADER OF THE WEBSITE -->
<!-- ===================== -->
<div class="container-fluid bg-info">
    <div class="text-center py-5">
        <img src="/assets/Japman.JPG" alt="Japman Nagra" class="rounded-lg" id="japman_img">
        <div class="pt-3">
            <h1 id="name">Japman Nagra</h1>
            <p class="container" id="desc">Hey there. Welcome to my website! Over the past couple of years, I've worked on a few projects that I would love to share. I want to showcase more than just my projects, browse through my portfolio to view my experience, articles, and skills. Feel free to scroll through my website, and contact me if you have any questions.</p>
            <a href="https://github.com/JapmanN" target="_blank" class="important_buttons btn"><i class="fab fa-github"></i></a>
            <a href="" class="important_buttons btn">Resume</a>
            <a href="https://www.linkedin.com/in/japmannagra/" target="_blank" class="important_buttons btn"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>    
</div>

<!-- ================ -->
<!-- PROJECT SECTIONS -->
<!-- ================ -->
<div class="container-fluid my-5">
    <h1 id="projects">PROJECTS</h1>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card bg-light border-0">
                <img src="./assets/project_screenshots/populify.png" class="card-img-top" alt="Populify">
                <div class="card-body">
                  <h5 class="card-title">Populify</h5>
                  <p class="card-text">A web application powered by the Spotify Web API that displays two tracks from your "Liked Songs", and makes you guess which one is more popular based on current popularity.</p>
                  <a href="https://github.com/JapmanN/Populify" class="mr-2 project_links"><i class="fab fa-github"></i></a>
                  <a href="https://populify.herokuapp.com" class="project_links"><i class="fas fa-link"></i></a>
                </div>
              </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-light border-0">
                <img src="./assets/project_screenshots/yts.png" class="card-img-top" alt="Populify">
                <div class="card-body">
                  <h5 class="card-title">Youth Tech Society</h5>
                  <p class="card-text">(YTS) was a student-led organization dedicated to teach and inspire the upcoming generation of tech enthusiasts. Our ambition is to get students involved in tech-related fields at an early age in a fun and interactive way.</p>
                  <a href="https://github.com/JapmanN/Youth-Tech-Society" class="mr-2 project_links"><i class="fab fa-github"></i></a>
                  <a href="https://youthtech.herokuapp.com" class="project_links"><i class="fas fa-link"></i></a>
                </div>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-light border-0">
                <img src="./assets/project_screenshots/article_screenshots/bitcoin.svg" class="card-img-top articles_img" alt="Machine Learning">
                <div class="card-body">
                    <h5>Bitcoin & Blockchain</h5>
                    <p>An article that teaches everyone about the fundamentals of Bitcoin and Blockchain.</p>
                    <a href="" class="btn btn-primary btn-sm">Read article</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-light border-0">
                <img src="./assets/project_screenshots/article_screenshots/ai.svg" class="card-img-top articles_img" alt="Machine Learning">
                <div class="card-body">
                    <h5>Artificial Intelligence</h5>
                    <p>An article that describes how machine learning works, as well as the different types.</p>
                    <a href="" class="btn btn-primary btn-sm">Read article</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-light border-0">
                <img src="./assets/project_screenshots/article_screenshots/spacex.svg" class="card-img-top articles_img" alt="Machine Learning">
                <div class="card-body">
                    <h5>Elon Musk's SpaceX</h5>
                    <p>In this read, learn about the past, present, and future of SpaceX.</p>
                    <a href="" class="btn btn-primary btn-sm">Read article</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============== -->
<!-- SKILLS SECTION -->
<!-- ============== -->
<div class="container-fluid my-5">
    <h1 id="skills">SKILLS</h1>
    <div class="row mx-1">
        <p class="skill px-3 py-2">Python</p>
        <p class="skill px-3 py-2">JavaScript</p>
        <p class="skill px-3 py-2">Node.js</p>
        <p class="skill px-3 py-2">Express.js</p>
        <p class="skill px-3 py-2">EJS</p>
        <p class="skill px-3 py-2">HTML5</p>
        <p class="skill px-3 py-2">CSS</p>
        <p class="skill px-3 py-2">Bootstrap</p>
        <p class="skill px-3 py-2">jQuery</p>
        <p class="skill px-3 py-2">MongoDB</p>
        <p class="skill px-3 py-2">Git</p>
        <p class="skill px-3 py-2">Heroku</p>
    </div>
</div>

<!-- ============ -->
<!-- CONTACT FORM -->
<!-- ============ -->
<div class="container-fluid mt-5">
    <div class="">
        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/contact.svg" class="w-100">
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" class="form-control" placeholder="1234 Main St">
                    </div> -->
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Type your message here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="contact_button">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<%- include('partials/footer') %>