<%- include('partials/header') %>

<div class="text-center">
    <img src="/assets/Japman.JPG" alt="Japman Nagra" class="rounded-lg" id="japman_img">
    <div class="pt-3">
        <h1 id="name">Japman Nagra</h1>
        <p class="container" id="desc">Hey there. Welcome to my website! Over the past couple of years, I've worked on a few projects that I would love to share. I want to showcase more than just my projects, browse through my portfolio to view my experience, articles, and skills. Feel free to scroll through my website, and contact me if you have any questions.</p>
        <a href="" class="important_buttons btn"><i class="fab fa-github"></i></a>
        <a href="" class="important_buttons btn">Resume</a>
        <a href="" class="important_buttons btn"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>

<%- include('partials/footer') %>
