body {
    padding-top: 100px;
}

#japman_img {
    width: 22%;
}

#name {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 72px;
    font-style: italic;
}

#desc {
    font-family: 'Poppins', sans-serif;
}

.important_buttons {
    border: 2px solid #232323;
    color: #232323;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.important_buttons:hover {
    background: #232323;
    color: white;
}