#projects {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    border-bottom: 1px solid #232323;
    margin-bottom: 1.2rem;
}

/* .card {
    transition: all 0.4s;
}

.card:hover {
    transform: scale(1.05);
} */

.card-img-top {
    width: 100%;
    height: 23vw;
    object-fit: cover;
}

.card-title {
    font-family: "Poppins", sans-serif;
}

.card-body {
    font-family: "Poppins", sans-serif;
}

.project_links {
    color: #232323;
    font-size: 1.2rem;
}